name: flutter_app
description: A new Flutter application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  flutter_swiper: ^1.1.6

  #需要申请权限(IOS)
  image_picker: ^0.6.2+3

  path_provider: ^1.5.1
  flutter_luban: ^0.1.7
  flutter_screenutil: ^0.7.0
  flutter_staggered_grid_view: ^0.3.0
  fluro: ^1.5.1
  flutter_statusbarcolor: ^0.2.3
  dio: ^3.0.7
  flutter_easyrefresh: ^2.0.8
  flutter_html: ^0.11.1
  fluttertoast: ^3.0.4
  shared_preferences: ^0.5.6
  event_bus: ^1.0.1
  flutter_slidable: ^0.5.4
  url_launcher: ^5.1.2
  city_pickers: ^0.1.29
  webview_flutter: ^0.3.18+1



dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
    - images/
  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
  #  fonts:
  #      - family:  MyIcons
  #        fonts:
  #          - asset: fonts/MyFlutterApp.ttf
  fonts:
    - family:  MyIcons
      fonts:
        - asset: fonts/MyFlutterApp.ttf

    - family:  MyIcons2
      fonts:
        - asset: fonts/iconfont2.ttf
    - family:  MyIcons3
      fonts:
          - asset: fonts/iconfont3.ttf
    - family:  IconFont
      fonts:
        - asset: fonts/iconfont.ttf
    - family:  MyIcons4
      fonts:
         - asset: fonts/iconpay.ttf
